* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    background: #403F3F;
}

h {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

p{
    color: white;
    font-size: 100%;
}
.topnav {
    overflow: hidden;
    height: 100%;
}

.topnav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.topnav li {
    display:inline-block;
}

.topnav a {
    text-align: center;
    color: white;
    display: block;
    padding: 17px;
    width: 100px;
    text-decoration: none;
}

.topnav a:hover {
    color: gray;
    transition: 0.5s;
}

.intro {
    margin-top: 30%;
    text-align: right;
}

.square {
    margin-top: 45px;
    margin-left: 50px;
    height: 35em;
    width: 93.2%;
    background-color: #DD2E2E; /*#403F3F;*/
}

.square:hover{
    background-color: #403F3F;
    transition: 0.5s ease-in-out;
}

.square-inside {
    margin-left: 25px;
    height: 32.3em;
    width: 96.4%;
    background-color: #403F3F;
}

.leftcolumn {   
    float: left;
    width: 50%;
    padding-left: 10px;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    width: 50%;
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}

@media screen and (max-width: 412px) {
    .intro {
        position: absolute;
    }
    h {
        margin-right: 100px;
    }
    p {
        margin-right: 100px;
    }
}